<mat-card class="kyle-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Kyle Ashcraft</mat-card-title>
    <mat-card-subtitle>Musician</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/kyle-ashcraft.jpg" alt="Photo of a Kyle Ashcraft">
  <mat-card-content>
    <p>
      Hello! I am Kyle Ashcraft, a guitarist, songwriter and all around musician. Currently I'm living in Spain and enjoy playing at local venues while working on my next release. Checkout my Spotify and Instagram pages.
    </p>
  </mat-card-content>
  <mat-card-actions fxFill fxLayout="row" fxLayoutAlign="space-around">
    <a mat-button title="Kyle's Spotify" target="_blank"
      class="logo-button"
      href="https://open.spotify.com/artist/57QtbbdwErdQlxrmUj8SH3?si=FZf9TgXgTo-WH67ldXKlmg"
    >
      <spotify-logo></spotify-logo>
    </a>
    <a mat-button title="Kyle's Instagram" target="_blank"
      class="logo-button"
      href="https://www.instagram.com/kyleashmusic/"
    >
      <instagram-logo></instagram-logo> Instagram
    </a>
  </mat-card-actions>
</mat-card>
